Mongodb Aggregate And Group

avg

sum

project

In [3]:
from pymongo import MongoClient  
# ServerSelectionTimeoutError
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb+srv://javarahul04:12345@cluster0.cmhxn.mongodb.net/test")  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [4]:
# ### Find Amit And Krish Total Subjects
# agg_result= collection.aggregate( 
#     [{ 
#     "$group" :  
#         {"_id" : "$user",  
#          "Total Subject" : {"$sum" : 1} 
#          }} 
#     ])

In [6]:
###Find Amit And Krish Total subjects
agg_result = collection.aggregate (
[
    {
        "$group":
        {"_id" :"$user",
        "Total Subject": {"$sum" : 1}
    }}
])

for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Subject': 6}
{'_id': 'Amit', 'Total Subject': 6}

In [7]:
# ## Find Amit and Krish Total Subjecs
# agg_result = collection.aggregate(
#     [{
#         "$group":
#         {"_id" :"$user",
#         "Total Subject" : {"$sum" :1}}
#     }])

In [9]:
##Find Amit And Krish Total Subjects

agg_result = collection.aggregate(
[
    {
        "$group" :
        {"_id" : "$user", 
        "TOtal Subject" : {"$sum" :1}}
    }
])
for i in agg_result:
    print(i)

{'_id': 'Amit', 'TOtal Subject': 6}
{'_id': 'Krish', 'TOtal Subject': 6}

In [10]:
# ### Calculating the total score based on user
# agg_result= collection.aggregate( 
#     [{ 
#     "$group" :  
#         {"_id" : "$user",  
#          "Total Marks" : {"$sum" :"$score"} 
#          }} 
#     ]) 
# for i in agg_result: 
#     print(i)

In [14]:
###Calculating the total score based on user

agg_result = collection.aggregate(
[{
    "$group":
    {
        "_id" :"$user", 
        "Total Marks" : {"$sum" : "$score"}
    }
}])
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Marks': 500}
{'_id': 'Amit', 'Total Marks': 470}

In [15]:
# ### Calculating the average score based on user
# agg_result=collection.aggregate([
#    {
#       "$group": {
#          "_id": '$user',
#          "StudentScoreAverage": {
#             "$avg": "$score"
#          }
#       }
#    }
# ])
# for i in agg_result: 
#     print(i)

In [18]:
### Caluculating the average score based on user
agg_result = collection.aggregate([
    {
        "$group": {
            "_id": "$user" ,
            "StudentScoreAverage":{
                "$avg" : "$score"
            }
        }
    }
])
for i in agg_result:
    print(i)

{'_id': 'Krish', 'StudentScoreAverage': 83.33333333333333}
{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}

In [19]:
import datetime as datetime

In [20]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [21]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2022, 2, 18, 11, 11, 54, 114607)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2022, 2, 18, 11, 11, 54, 114607)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2022, 2, 18, 11, 11, 54, 114607)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2022, 2, 18, 11, 11, 54, 114607)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2022, 2, 18, 11, 11, 54, 114607)}]

In [23]:
mycollection = mydatabase['stores']
mycollection.insert_many(data)

In [24]:
# ### Calculating the average quantity And Average Price
# agg_result=mycollection.aggregate([
#    {
#       "$group": {
#          "_id": '$item',
#          "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
#           "avgQuantity": { "$avg": "$quantity" }
#       }
#    }
# ])
# for i in agg_result: 
#     print(i)

In [26]:
### Calculating the avaerage quantity And Average Price
agg_result = mycollection.aggregate([
    {
        "$group" :{
            "_id": "$item" , 
            "AvgAmount" :{"$avg":{"$multiply": ["$price", "$quantity"]}},
            "AvgQuantity":{"$avg": "$quantity"}
        }
    }
])
for i in agg_result:
    print(i)

{'_id': 'abc', 'AvgAmount': 60.0, 'AvgQuantity': 6.0}
{'_id': 'xyz', 'AvgAmount': 37.5, 'AvgQuantity': 7.5}
{'_id': 'jkl', 'AvgAmount': 20.0, 'AvgQuantity': 1.0}

In [27]:
#PROJECT:_

In [28]:
data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [31]:
# ##Acess collection of the database:-

In [32]:
collection = mydatabase['Books']

In [33]:
collection.insert_many(data)

In [37]:
for row in collection.aggregate([{"$project": {"title" : 1 , "isbn" :1}}]):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}