In [2]:
# import pymongo

# client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

# mydb=client['Employee']
# empinfo=mydb.employeeinformation

In [5]:
import pymongo
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
mydb = client['classInformation']
empinfo = mydb.employeeinformation

In [6]:
# record={
#         'firstname':'Krish',
#         'lastname':'Naik',
#         'department':'Analytics',
#         'qualification':'BE',
#         'age':29
#         }
# empinfo.insert_one(record)

In [10]:
record = {
    'firstname' : "Krish",
    'lastname'  : "Naik" ,
    'department':  "Analytics",
    'qualification': "computer_science_engineering",
    "age"      : 29   ,
    "sex"       : "Male",
    "Professional": "youtube_teaching"
    
}
empinfo.insert_one(record)

In [11]:
# records=[{
#         'firstname':'John',
#         'lastname':'Doe',
#         'department':'Analytics',
#         'qualification':'statistics',
#         'age':35
        
#         },
#          {
#         'firstname':'John ',
#         'lastname':'Smith',
#         'department':'Analytics',
#         'qualification':'masters',
#         'age':30
        
#         },
#         {
#         'firstname':'Manish',
#         'lastname':'Sen',
#         'department':'Analytics',
#         'qualification':'phd',
#         'age':34
        
#         },
#         {
#         'firstname':'Ram',
#         'lastname':'Singh',
#         'department':'Analytics',
#         'qualification':'master',
#         'age':32
        
#         }]

In [22]:
records = [{
    'firstname': "John" , 
    'lastname' : "Doe" ,
    "department": "Analytics",
    "qualifaction":"statistics",
    "age"     :  35
    
} ,
{ 'firstname':'John ',
         'lastname':'Smith',
         'department':'Analytics',
         'qualification':'masters',
         'age':30
        },
{
     'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
},
{ 'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
}]

In [23]:
empinfo.insert_many(records)

In [18]:
# ## Simple way of querying
# empinfo.find_one()

In [15]:
empinfo.find_one()

{'_id': ObjectId('620e6b5606ebac88ec16b98f'),
 'firstname': 'Krish',
 'lastname': 'Naik',
 'department': 'Analytics',
 'qualification': 'computer_science_engineering',
 'age': 29,
 'sex': 'Male',
 'Professional': 'youtube_teaching'}

In [19]:
# ## Select * from employeeinformation
# for record in empinfo.find({}):
#     print(record)

In [24]:
##select * from employeeinformation
for record in empinfo.find():
    print(record)

{'_id': ObjectId('620e6b5606ebac88ec16b98f'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'computer_science_engineering', 'age': 29, 'sex': 'Male', 'Professional': 'youtube_teaching'}
{'_id': ObjectId('620e6db806ebac88ec16b990'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualifaction': 'statistics', 'age': 35}
{'_id': ObjectId('620e6db806ebac88ec16b991'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('620e6db806ebac88ec16b992'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('620e6db806ebac88ec16b993'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('620e706706ebac88ec16b994'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualifaction': 'statistics', 'age': 35}
{'_id': ObjectId('620e706706ebac88ec16b995'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('620e706706ebac88ec16b996'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('620e706706ebac88ec16b997'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [25]:
# ## Query the json documents based on equality conditions
# # Select * from employeeinformation where firstname=krish

# for record in empinfo.find({'firstname':'Krish'}):
#     print(record)

In [29]:
#Query the json documents based on equality conditions
#Select * from employeeinformation where firstname = krish

for record in empinfo.find({'firstname': 'Ram'}):
    print(record)

{'_id': ObjectId('620e6db806ebac88ec16b993'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('620e706706ebac88ec16b997'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [30]:
# ## Query documents using query operators($in,$lt,$gt)
# for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
#     print(record)

In [31]:
##Query documents using query operation($in, $lt, $gt)
for record in empinfo.find({'qualification':{'$in':['phd', 'master']}}):
    print(record)

{'_id': ObjectId('620e6db806ebac88ec16b992'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('620e6db806ebac88ec16b993'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('620e706706ebac88ec16b996'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('620e706706ebac88ec16b997'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [32]:
# ## And and Query operators
# for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
#     print(record)

In [33]:
##And query operators

for recor in empinfo.find({'qualification': 'master', 'age':{"$lt":35}}):
    print(record)

{'_id': ObjectId('620e706706ebac88ec16b997'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}
{'_id': ObjectId('620e706706ebac88ec16b997'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [35]:
# ## OR operators
# for record in empinfo.find({'$or':[{'firstname':'Krish'},{'qualification':'BE'}]}):
#     print(record)

In [36]:
##OR Operators
for record in empinfo.find({'$or':[{'firstname': 'Krish'} , {'qualification':"BE"}]}):
    print(record)

{'_id': ObjectId('620e6b5606ebac88ec16b98f'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'computer_science_engineering', 'age': 29, 'sex': 'Male', 'Professional': 'youtube_teaching'}

In [40]:
inventory=mydb.inventory

In [41]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [42]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('620e74d706ebac88ec16b998'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('620e77f906ebac88ec16b99d'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}